@import '../constants.scss';

.account-page {
  > p {
    margin: 20px 0;
  }
  button {
    @include btnViolent();
    padding: 15px 25px;
  }
  button:hover {
    @include btnViolentHover();
  }
  button:disabled {
    background-color: $grayText;
    border-color: $grayText;
    cursor: auto;
    &:hover {
      color: $white;
    }
  }
  form {
    padding: 40px 0;
    border-bottom: 5px dashed $violent;
    & > div:first-child {
      img {
        display: none;
      }
      label {
        display: flex;
        align-items: center;
        gap: 30px;
      }
      input {
        width: 30%;
        background-color: transparent;
        display: flex;
        vertical-align: middle;
        padding: 20px;
        border-radius: 20px;
        border: 2px solid $violent;
        color: $grayText;
        outline: none;
        font-size: 2.4rem;
      }
    }
    .select-avatar__container {
      margin: 30px 0;
      display: flex;
      gap: 40px;
      flex-wrap: wrap;
      label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 15px 10px;
        cursor: pointer;
        border: 2px solid $violent;
        border-radius: 20px;
        span {
          width: 15px;
          height: 15px;
          display: block;
          border: 3px solid $violent;
          border-radius: 50%;
        }
      }
      label:hover {
        border: 2px solid $violent;
        background-color: $violent;
        img {
          transform: scale(1.1);
        }
        span {
          border-color: $white;
        }
      }
      input {
        display: none;
      }
      input#avatar1:checked ~ label {
        background-color: $violent;
        span {
          border: none;
          border-radius: 0%;
          transform: rotate(45deg);
          border-bottom: 3px solid $white;
          border-right: 3px solid $white;
        }
      }
      input#avatar2:checked ~ label {
        background-color: $violent;
        span {
          border: none;
          border-radius: 0%;
          transform: rotate(45deg);
          border-bottom: 3px solid $white;
          border-right: 3px solid $white;
        }
      }
      input#avatar3:checked ~ label {
        background-color: $violent;
        span {
          border: none;
          border-radius: 0%;
          transform: rotate(45deg);
          border-bottom: 3px solid $white;
          border-right: 3px solid $white;
        }
      }
      input#avatar4:checked ~ label {
        background-color: $violent;
        span {
          border: none;
          border-radius: 0%;
          transform: rotate(45deg);
          border-bottom: 3px solid $white;
          border-right: 3px solid $white;
        }
      }
    }
  }
  .logout__btn {
    position: absolute;
    right: 20px;
    top: 100px;
    @include btnViolent();
  }
  .logout__btn:hover {
    @include btnViolentHover();
  }
  .leaderboard__container {
    margin: 20px auto;
    display: block;
    padding: 20px 20px 20px 50px;
    border: 3px solid $violent;
    border-radius: 20px;
    li {
      span {
        padding-right: 20px;
        &:last-of-type {
          font-weight: 700;
          color: $violent;
        }
      }
    }
  }
  .sertificate__container {
    width: 100%;
    margin-top: 20px;
    img {
      width: 90%;
      display: block;
      margin: 20px auto 0 0;
    }
  }
}
@media (max-width: 420px) {
  .account-page button {
    padding: 10px 15px;
  }
  .account-page form > div:first-child label {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding-left: 10px;
  }
  .select-avatar__container {
    > div {
      width: 40%;
      img {
        width: 90%;
      }
    }
  }
}
