@import "../constants.scss";

.start-page ~ aside {
  display: none;
}
.start-page {
  width: calc(100% - 40px);
  grid-column: 1/ 3;
  color: $grayText;
  text-align: center;
  h1 {
    max-width: 780px;
    margin: 120px auto 40px;
    font-size: 6.4rem;
  }
  p {
    max-width: 780px;
    margin: 0 auto 40px;
    font-size: 3.2rem;
    color: $grayLightText;
  }
  .start__btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 120px;
  }
  .start-btn {
    @include btnViolent();
    padding: 15px 90px;
  }
  .start-btn:hover {
    @include btnViolentHover();
  }
}
.start-page.dark {
  color: $lightBg;
}
.steps__container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin-top: -79vh;
  z-index: -50;
}
.steps__icon {
  position: absolute;
}
.step__left {
  transform: rotate(-45deg);
  left: 103px;
  bottom: -179px;
}
.step__right {
  transform: rotate(30deg);
  right: 103px;
  bottom: -179px;
}

@media (max-width: 768px) {
  .start__btns {
    flex-wrap: wrap;
  }
  .steps__icon {
    max-height: 50%;
  }
}

@media (max-width: 630px) {
  .step__right {
    display: none;
  }
}
