@import "../constants.scss";

.test-page__container {
    h2 {
        width: 100%;
    }
    p {
        padding: 20px;
        background-color: $grayBg;
        color: $grayText;
        border-radius: 40px;
        width: 90%;
        margin: 40px auto 0;
        position: relative;
        &::after {
            position: absolute;
            bottom: -10px;
            right: 50px;
            display: block;
            content: "";
            background-color: #c5c5c5;
            transform: rotate(45deg);
            width: 20px;
            height: 20px;
        }
    }
    > div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    textarea {
        width: 80%;
        margin: 30px auto;
        padding: 20px;
        border: 3px solid $violent;
        background-color: transparent;
        border-radius: 20px;
        font-size: 2.8rem;
        color: inherit;
        outline: none;
        height: 80px;
        resize: none;
    }
    button {
        @include btnViolent();
        margin: 40px auto 0;
        display: flex;
    }
    button:hover {
        @include btnViolentHover();
    }
    img {
        margin-top: 20px;
        width: 50%;
    }
}

@media (max-width: 758px) {
    .test-page__container img {
        order: -1;
    }
}
@media (max-width: 480px) {
    .test-page__container p {
        width: auto;
    }
    .test-page__container button {
        flex-direction: column;
        max-width: 280px;
        audio {
            max-width: 260px;
        }
    }
}
@media (max-width: 330px) {
    .test-page__container button {
        max-width: 240px;
        audio {
            max-width: 200px;
        }
    }
}
