@import '../../constants.scss';

.game {
  .title {
    @include sectionTitle();
  }

  .rules {
    @include catReplyBlock();
  }

  .container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 1rem;

    .start-btn {
      @include btnViolent();
      grid-column: 1 / 2;
      align-self: start;
      justify-self: start;
      margin: 2rem;

      &:hover {
        @include btnViolentHover();
      }
    }

    .mascot {
      grid-column: 2 / 3;
      width: 100%;
    }
  }
}

@media (max-width: 980px) {
  .game {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 1.5fr 0.5fr;

      .start-btn {
        grid-row: 2 / 3;
        align-self: center;
        justify-self: center;
      }

      .mascot {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        max-width: 400px;
      }
    }
  }
}
