@import "../../constants.scss";

.about__container ~ aside {
    max-height: 680px;
}

.about__container {
    color: $grayText;
    .content__container-about {
        h3 {
            font-size: 2.6rem;
            line-height: 3.5rem;
        }
        width: 60%;
        margin: 20px 0;
        background-color: $grayBg;
        border-radius: 20px;
        padding: 20px;
        font-size: 2.4rem;
        ul {
            padding-left: 25px;
        }
    }
    .content__container-about:nth-of-type(odd) {
        margin-right: auto;
    }
    .content__container-about:nth-of-type(even) {
        margin-left: auto;
    }
    .arrow__container {
        margin: 0 auto 0 0;
        width: 70%;
        svg {
            max-width: 100%;
        }
    }
    .arrow__container:nth-of-type(even) {
        margin: 0 0 0 auto;
    }
}
.dev__container-about {
    border-top: 5px dashed $violent;
    margin-top: 60px;
    padding: 20px 0;
    .dev__content-about {
        display: flex;
        justify-content: space-between;
        .dev__card {
            width: 30%;
            font-size: 2rem;
            word-break: break-all;
            background-color: $grayBg;
            font-style: italic;
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 20px;
            padding: 200px 0 20px;
            border-radius: 20px;
            margin-top: 150px;
            text-decoration: none;
            color: $grayText;
            img {
                border-radius: 50%;
                width: 100%;
                display: block;
                margin: -300px auto 0;
            }
            .card-name {
                font-size: 2.6rem;
                text-transform: uppercase;
                font-style: normal;
            }
        }
    }
}
@media (max-width: 668px) {
    .dev__container-about {
        .dev__content-about {
            .dev__card {
                margin-top: 100px;
            }
        }
    }
}
