@import "../../constants.scss";

.homepage__container {
  color: $grayText;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  .content__container {
    padding: 20px;
    background-color: $grayBg;
    border-radius: 40px 40px 0 40px;
    width: 80%;
    margin: 40px auto 0;
    h2 {
      font-size: 4.6rem;
    }
  }
  .mascot__container {
    width: 35%;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    img {
      height: 100%;
    }
  }
}

@media (max-width: 768px) {
  .homepage__container {
    .mascot__container {
      width: 100%;
      padding: 20px;
      display: flex;
      justify-content: flex-end;
      img {
        max-width: 450px;
        width: 100%;
        height: auto;
      }
    }
  }
}
