@import "../../constants.scss";

.homepage__container {
  color: $grayText;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  .content__container {
    max-height: 215px;
    padding: 20px;
    background-color: $grayBg;
    border-radius: 40px;
    width: 90%;
    margin: 40px auto 0;
    position: relative;
    &::after {
      position: absolute;
      bottom: -10px;
      right: 50px;
      display: block;
      content: "";
      background-color: #c5c5c5;
      transform: rotate(45deg);
      width: 20px;
      height: 20px;
    }
    h2 {
      font-size: 4.6rem;
    }
  }
  .mascot__container {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    width: 35%;
    img {
      max-width: 450px;
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 560px) {
  .homepage__container .mascot__container img {
    height: 60%;
  }
}
@media (max-width: 560px) {
  .homepage__container .mascot__container img {
    height: 50%;
  }
  .homepage__container .mascot__container {
    padding: 10px 0;
  }
}
@media (max-width: 390px) {
  .homepage__container .mascot__container img {
    height: 40%;
  }
  .homepage__container {
    color: #5e5e5e;
    display: grid;
    justify-items: end;
    gap: 20px;
  }
}
@media (max-width: 560px) {
  .homepage__container .mascot__container img {
    height: 60%;
  }
}
@media (max-width: 560px) {
  .homepage__container .mascot__container img {
    height: 50%;
  }
  .homepage__container .mascot__container {
    padding: 10px 0;
  }
}
@media (max-width: 390px) {
  .homepage__container .mascot__container img {
    height: 40%;
  }
  .homepage__container {
    color: #5e5e5e;
    display: grid;
    justify-items: end;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .homepage__container {
    .mascot__container {
      width: 100%;
      padding: 20px;
      display: flex;
      justify-content: flex-end;
      img {
        max-width: 450px;
        width: 100%;
        height: auto;
      }
    }
  }
}
