span {
  display: inline-block;
  padding: 5px;
  min-width: 7px;
  min-height: 18px;
  &.highlight_green {
    background-color: rgb(131, 241, 177);
  }

  &.highlight_red {
    background-color: rgb(231, 151, 151);
  }
}
